.logo-box {
  background-color: antiquewhite;
  width: 240px;
  height: 95px;
}

@media (max-width: 1300px) {
  .logo-box {
    width: 140px;
    height: 71px;
  }
}
.landing-page {
  height: 861px;
}

.landind-text {
  background-color: black;
  height: 332px;
}

.landing-btns {
  background-color: beige;
  width: 252px;
  height: 63px;
}

.product-section {
  height: 100%;
}

.product-img {
  height: 313px;
  background-color: rgb(121, 121, 121);
}

.product-text {
  height: 100%;
  background-color: aliceblue;
}

.abt-text {
  background-color: aliceblue;
}

.details-text {
  background-color: aliceblue;
}

.details-img {
  background-color: rgb(121, 121, 121);
  width: auto;
  height: 250px;
}

.details-main-text {
  background-color: aliceblue;
}

.x-ray-img {
  background-color: rgb(121, 121, 121);
  height: 400px;
  width: auto;
}

.x-ray-text {
  height: auto;
  width: auto;
  background-color: aliceblue;
}

.detailed-info-imgbox {
  height: 500px;
  width: auto;
  background-color: rgb(121, 121, 121);
}

.imgbox-text {
  height: auto;
  width: auto;
  background-color: aliceblue;
}

.detailed-img-earbud {
  background-color: rgb(121, 121, 121);
  width: auto;
  height: 250px;
}

.detailed-text {
  height: 55px;
  width: auto;
  background-color: aliceblue;
}

.detailed-main-text {
  height: 55px;
  width: auto;
  background-color: aliceblue;
}

.detailed-img-main {
  background-color: rgb(121, 121, 121);
  width: auto;
  height: 250px;
}

.detailed-paragraph-main {
  height: 55px;
  width: auto;
  background-color: aliceblue;
}

body {
  font-family: "Ubuntu Mono", monospace;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 100px;
  z-index: 1000;
  font-size: 20px;
  font-weight: bold;
}
header .logo img {
  display: block;
  height: 30px;
  width: auto;
}
header .logo .logo-text {
  display: none;
}
header .hamburger-menu {
  cursor: pointer;
}
header .hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
}
header nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
header nav .nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
header nav .nav-links .theme-toggle {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-links .theme-toggle .icon {
  font-size: 1.5rem;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-right: 10px;
  color: rgb(255, 255, 255);
}
header nav .nav-links li {
  text-align: center;
  padding: 0.5rem 0;
}
header nav .nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
header nav.active {
  display: block;
}
@media (min-width: 768px) {
  header .logo .logo-text {
    display: block;
    color: rgb(255, 255, 255);
  }
  header .hamburger-menu {
    display: none;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: auto;
  }
  header nav .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 70px;
    letter-spacing: 5px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav .icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background-color: #fff;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-content {
  max-width: 1640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .footer-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
footer .footer-content h2 span {
  color: #000;
}
footer .footer-content .contact-btn {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
footer .footer-content .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
footer .footer-content .footer-links a {
  margin: 0 5px;
  text-decoration: none;
  color: #000;
}
footer .footer-content .footer-links .email {
  display: none;
}
footer .footer-content .footer-bottom {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
footer .footer-content .footer-bottom p {
  margin: 0;
}
footer .footer-content .footer-bottom .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
footer .footer-content .footer-bottom .social-icons a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 768px) {
  footer .footer-content .footer-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 576px) {
  footer .footer-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-content h2 {
    text-align: center;
  }
  footer .footer-content .contact-btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
  footer .footer-content .footer-links {
    -ms-flex-item-align: center;
        align-self: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  footer .footer-content .footer-links a {
    margin: 0 5px;
  }
  footer .footer-content .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-content .footer-bottom .social-icons {
    gap: 10px;
  }
}