


.logo-box{
    background-color: antiquewhite;
    width: 240px;
    height: 95px;
}

@media(max-width: 1300px){
    .logo-box{
        width: 140px;
        height: 71px;
    }
}

.landing-page{
    height: 861px;
}
.landind-text{
    background-color: black;
    height: 332px;
}

.landing-btns{
    background-color: beige;
    width: 252px;
    height: 63px;
}

.product-section{
    height: 100%;
}

.product-img{
    height: 313px;
    background-color: rgb(121, 121, 121);

}

.product-text{
    height: 100%;
    background-color: aliceblue;
}

.abt-text{
    background-color: aliceblue;
}

.details-text{
    background-color: aliceblue;
}
.details-img{
    background-color: rgb(121, 121, 121);
    width: auto;
    height: 250px;
}
.details-main-text{
    background-color: aliceblue;
}

.x-ray-img{
    background-color: rgb(121, 121, 121);
    height: 400px;
    width: auto;
}

.x-ray-text{
    height: auto;
    width: auto;
    background-color: aliceblue;
}

.detailed-info-imgbox{
    height: 500px;
    width: auto;
    background-color: rgb(121, 121, 121);
}

.imgbox-text{
    height: auto;
    width: auto;
    background-color: aliceblue;
}

.detailed-img-earbud{
 background-color: rgb(121, 121, 121);
    width: auto;
    height: 250px;
}

.detailed-text{
height: 55px;
    width: auto;
    background-color: aliceblue;
}

.detailed-main-text{
height: 55px;
    width: auto;
    background-color: aliceblue;
}

.detailed-img-main{
background-color: rgb(121, 121, 121);
    width: auto;
    height: 250px;
}

.detailed-paragraph-main{
height: 55px;
    width: auto;
    background-color: aliceblue;
}